<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--Left side menu / filters -->
<div th:fragment="LEFT_SIDE_MENU_FILTERS" class="list-group me-3 shadow">

    <a id="all_tours_sidebar_filter" href="/xenagos/my-tours?status=all"
       class="list-group-item list-group-item-action list-group-item-primary">All Tours</a>
    <a id="published_tours_sidebar_filter" href="/xenagos/my-tours?status=published"
       class="list-group-item list-group-item-action list-group-item-primary">Published</a>
    <a id="unpublished_tours_sidebar_filter" href="/xenagos/my-tours?status=unpublished"
       class="list-group-item list-group-item-action list-group-item-primary">Unpublished</a>
    <a id="deactivated_tours_sidebar_filter" href="/xenagos/my-tours?status=deactivated"
       class="list-group-item list-group-item-action list-group-item-primary">Deactivated</a>
</div>

<!--Right side / List content for All Tours-->


</body>
</html>