<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  th:href="@{/css/layout.css}">
    <script src="http://localhost:35729/livereload.js"></script>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Prototype Xenagos</title>
</head>

<body>
    <header>
        <section class="header-up">
            <article class="header-up__logo-cell">
                <img class="logo-img" th:src="@{/img/logo.png}" alt="logo">
            </article>
            <article class="header-up__i18n-cell">
                <img class="i18n-img" th:src="@{/img/globe.jpg}" alt="globe">
                <select name="PageLanguage" id="pageLang">
                    <option value="GR">GR</option>
                    <option value="EN">EN</option>
                </select>
            </article>
            <article class="header-up__login-cell">
                <button class="user-login-btn">
                    <img class="user-login-img" th:src="@{/img/user.png}" alt="profile photo" >
                </button>
            </article>
        </section>
        <section layout:fragment="HEADER_LO" class="header-lo"> </section>
    </header>

    <main>
        <section class="main-container">
            <section layout:fragment="MAIN_CONTAINER_LEFT"> </section>
            <section layout:fragment="MAIN_CONTAINER_RIGHT"> </section>
        </section>
    </main>

    <footer>
        <br> <br> <br>
        <br> <br> <br>
        <div class="footer-container">
            <article>
                <ul class="footer-list">
                    <li>
                        <a href="#"> About Us </a>
                    </li>
                    <li>
                        <a href="#"> FAQ </a>
                    </li>
                    <li>
                        <a href="#"> Contact Us </a>
                    </li>
                </ul>
            </article>
            <article>
                <ul class="footer-list">
                    <li>
                        <a href="#"> For Professionals </a>
                    </li>
                    <li>
                        <a href="#"> For Agencies </a>
                    </li>
                    <li>
                        <a href="#"> Investors </a>
                    </li>
                </ul>
            </article>
            <article>
                <ul class="footer-list">
                    <li>
                        <a href="#"> Mobile </a>
                    </li>
                    <li>
                        <a href="#"> Cookie settings </a>
                    </li>
                    <li>
                        <a href="#"> Sitemap </a>
                    </li>
                </ul>
            </article>
            <article>
                <ul class="footer-list">
                    <li>
                        <a href="#"> Privacy policy </a>
                    </li>
                    <li>
                        <a href="#"> Terms and Conditions </a>
                    </li>
                    <li>
                        <a href="#"> Careers </a>
                    </li>
                </ul>
            </article>
        </div>
        <br> <br> <br>
    </footer>

</body>

</html>