<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layouts/layout_main.html}"
        lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  th:href="@{/css/admin.css}">
    <title></title>
</head>
<body>

    <section layout:fragment="HEADER_LO">
        <h1>Administrator Page </h1>
    </section>

    <section layout:fragment="MAIN_CONTAINER_LEFT" class="left-section">
        <button onclick="location.href='/admin/accessibilityTags/'" type="button">Accessibility Tags</button>
        <button onclick="location.href='/admin/topicTags/'" type="button">Topic Tags</button>
        <button onclick="location.href='/admin/ageRanges/'" type="button">Age Ranges</button>
        <button onclick="location.href='/admin/languages/'" type="button">Languages</button>
        <button onclick="location.href='/admin/mediaTypes/'" type="button">Media Types</button>
        <button onclick="location.href='/admin/durationTypes/'" type="button">Duration Types</button>
        <button onclick="location.href='/admin/ameaFriendlyTypes/'" type="button">AmeA Friendly Types</button>
    </section>

    <section layout:fragment="MAIN_CONTAINER_RIGHT" class="right-section">
        <th:block layout:fragment="ADMIN_DATA_SPACE"> </th:block>
    </section>


</body>
</html>