<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout_main.html}"
      lang="en">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Xenagos Page</title>
</head>
<body>

<th:block layout:fragment="HEADER_BOTTOM">
    <div class="row py-3 px-3 shadow-sm">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item h4"><a href="/xenagos">Xenagos</a></li>
                    <li class="breadcrumb-item active h4" aria-current="page" th:text="${childPageName}" ></li>
                </ol>
            </nav>
        </div>
    </div>
</th:block>

<th:block layout:fragment="MAIN_CONTAINER_LEFT">
    <div class="col-2 pt-3">
        <div class="list-group me-3 shadow">
            <a id="my_tours_sidebar_link" href="/xenagos/my-tours" class="list-group-item list-group-item-action list-group-item-primary">My Tours</a>
            <a id="analytics_sidebar_link" href="/xenagos/analytics" class="list-group-item list-group-item-action list-group-item-primary">Analytics</a>
            <a id="my_account_sidebar_link" href="/xenagos/my-account" class="list-group-item list-group-item-action list-group-item-primary">My Account</a>
        </div>
    </div>
</th:block>

<th:block layout:fragment="MAIN_CONTAINER_RIGHT">
</th:block>

<th:block layout:fragment="SCRIPTS">
</th:block>

</body>
</html>