<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layouts/layout_main.html}"
        lang="en">
<body>

    <th:block layout:fragment="HEADER_BOTTOM">
        <div class="row py-3 px-3 shadow-sm">
            <div class="col">
                <h3>Administrator Page </h3>
            </div>
        </div>
    </th:block>

    <th:block layout:fragment="MAIN_CONTAINER_LEFT">
            <div class="col-2 pt-3 border-end">
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <button type="button" class="btn btn-outline-primary" onclick="location.href='/admin/accessibilityTags'">Accessibility Tags</button>
                    <button type="button" class="btn btn-outline-primary " onclick="location.href='/admin/topicTags'">Topic Tags</button>
                    <button type="button" class="btn btn-outline-primary " onclick="location.href='/admin/ageRanges'">Age Ranges</button>
                    <button type="button" class="btn btn-outline-primary " onclick="location.href='/admin/languages'">Languages</button>
                    <button type="button" class="btn btn-outline-primary " onclick="location.href='/admin/mediaTypes'">Media Types</button>
                    <button type="button" class="btn btn-outline-primary " onclick="location.href='/admin/durationTypes'">Duration Types</button>
                    <button type="button" class="btn btn-outline-primary " onclick="location.href='/admin/ameaFriendlyTypes'">AmeA Friendly Types</button>
                </div>
            </div>
    </th:block>


    <th:block layout:fragment="MAIN_CONTAINER_RIGHT">
        <div class="col-10 pt-3 ">
            <th:block layout:fragment="ADMIN_DATA_SPACE"> </th:block>
        </div>
    </th:block>


</body>
</html>