<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout_tour_guide.html}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Tours</title>
</head>
<body>


<th:block layout:fragment="TOUR_GUIDE_MAIN_CONTAINER_LEFT">
    <div th:replace="~{fragments/tourGuide/tour-guide-my-tours.html :: LEFT_SIDE_MENU_FILTERS}"></div>
</th:block>

<th:block layout:fragment="TOUR_GUIDE_MAIN_CONTAINER_RIGHT">
    <h4>Unpublished Tours</h4>
</th:block>

</body>

</html>