<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layouts/layout.html}">
<head>
    <title>Admin</title>
</head>

<body>

    <section layout:fragment="Header_Lo">
        LO HEADER
    </section>

    <section layout:fragment="MainContainer_Left" style="border: 2px solid blue;">
        LEFT MAIN CONTAINER START
        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        LEFT MAIN CONTAINER END
    </section>

    <section layout:fragment="MainContainer_Right" style="border: 2px solid red;">
        RIGHT MAIN CONTAINER START
        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        RIGHT MAIN CONTAINER END 
    </section>

</body>

</html>