<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layouts/layout.html}">
<head>
    <title>Admin</title>
    <link rel="stylesheet"  th:href="@{/css/admin.css}">
</head>

<body>

    <section layout:fragment="HEADER_LO">
        LO HEADER
    </section>

    <section layout:fragment="MAIN_CONTAINER_LEFT" style="border: 2px solid blue;">
        LEFT MAIN CONTAINER START
        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        LEFT MAIN CONTAINER END
    </section>

    <section layout:fragment="MAIN_CONTAINER_RIGHT" style="border: 2px solid red;">
        RIGHT MAIN CONTAINER START
        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        RIGHT MAIN CONTAINER END 
    </section>

</body>

</html>