<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layouts/layout_admin}"
        lang="en">
<head>
    <title>Main Admin Page</title>
</head>

<body>

    <th:block layout:fragment="ADMIN_DATA_SPACE">
        <h4>Topic Tags</h4>
        <br> <br>
        Show List // Edit // Delete
        <br>
        <ul >
            <li th:each="topicTag : ${topicTags}" >
                <span th:text="${topicTag.topicTagId}">Topic Tag Id</span>
            </li>
        </ul>
        <br> <br>
        Create New Tag
        <br> <br>
    </th:block>

</body>

</html>