<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layouts/layout.html}">
<head>
    <title>Admin</title>
    <link rel="stylesheet"  th:href="@{/css/admin.css}">
</head>

<body>

    <section layout:fragment="HEADER_LO">
        Administrator Page
    </section>

    <section layout:fragment="MAIN_CONTAINER_LEFT" class="left-section">
        <button>Accessibility Tags</button>
        <button>Topic Tags</button>
        <button>Age Ranges</button>
        <button>Languages</button>
        <button>Media Types</button>
        <button>Duration Types</button>
        <button>AmeA Friendly Types</button>
    </section>

    <section layout:fragment="MAIN_CONTAINER_RIGHT" class="right-section">
        RIGHT MAIN CONTAINER START
        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        RIGHT MAIN CONTAINER END
    </section>

</body>

</html>