<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout_admin(childPageName='Age Groups')}"
      lang="en">
<head>
    <title>Age Groups</title>
</head>

<body>

<th:block layout:fragment="ADMIN_DATA_SPACE">

    <!--Add New Button-->
    <div th:replace="~{fragments/admin/admin-page.html :: ADD_NEW_BTN}"></div>

    <!--Table-->
    <div class="col-10">
        <table class="table table-sm table-light table-striped table-bordered border-primary-subtle table-hover shadow">
            <thead>
            <tr class="text-center">
                <!--Column Headers -->
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Min Age</th>
                <th scope="col">Max Age</th>
                <th scope="col">Active</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ageGroup : ${ageGroups}">
                <!--## column-->
                <th scope="row"><span th:text="${ageGroups.indexOf(ageGroup)+1}"></span></th>
                <!--field ID-->
                <td class="text-nowrap"><span th:text="${ageGroup.id}"></span></td>
                <!--field 1-->
                <td><span th:text="${ageGroup.groupName}"></span></td>
                <!--field 2-->
                <td><span th:text="${ageGroup.minAge}"></span></td>
                <!--field 3-->
                <td><span th:text="${ageGroup.maxAge}"></span></td>
                <!--active field-->
                <td class="text-center">
                    <label>
                        <input class="form-check-input" type="checkbox" th:checked="${ageGroup.active}" disabled>
                    </label>
                </td>
                <!--Action buttons-->
                <td class="text-nowrap">
                    <!--Edit button-->
                    <button class="btn btn-warning ms-1 me-1 py-1"
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#edit_modal"
                            th:data-id="${ageGroup.id}"
                            th:data-field1="${ageGroup.groupName}"
                            th:data-field2="${ageGroup.minAge}"
                            th:data-field3="${ageGroup.maxAge}"
                            th:data-active="${ageGroup.active}">
                        Edit
                    </button>
                    <!--Delete button-->
                    <button class="btn btn-danger me-1 py-1 "
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#delete_modal"
                            th:data-id="${ageGroup.id}"
                            th:data-field1="${ageGroup.groupName}"
                            th:data-field2="${ageGroup.minAge}"
                            th:data-field3="${ageGroup.maxAge}"
                            th:data-active="${ageGroup.active}">
                        Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Add New Modal -->
    <div th:replace="~{fragments/admin/admin-page.html :: ADD_NEW_MODAL('Age Group','~{/fragments/admin/age-group-modal-form-add-new}','/admin/ageGroups/addNew')}"></div>

    <!-- Edit Modal -->
    <div th:replace="~{fragments/admin/admin-page.html :: EDIT_MODAL('Age Group','~{/fragments/admin/age-group-modal-form-edit}','/admin/ageGroups/edit')}"></div>

    <!-- Delete Modal -->
    <div th:replace="~{fragments/admin/admin-page.html :: DELETE_MODAL('Age Group','~{/fragments/admin/age-group-modal-form-delete}','/admin/ageGroups/delete')}"></div>

    <!--Script-->
    <script type="text/javascript" th:src="@{/js/adminAgeGroups.js}"></script>
    <script type="text/javascript" th:src="@{/js/adminActionButtons.js}"></script>

</th:block>

</body>

</html>