<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{./css/output.css}">
    <link rel="shortcut icon" type="image/png" th:href="@{./img/favicon.ico}">
    <title>Xenagos</title>
</head>
<body>
<h1 class="text-3xl font-bold underline" th:text="${area}"> area code </h1>

<div>
    <ul>
        <li th:each="xen : ${Xens}">
            <span th:text="|Xenagisi UUID = ${xen.xenId.value}|"></span><br>
            <span th:text="|Xenagos UUID = ${xen.xenagosId.value}|"></span><br>
            <span th:text="|Price = ${xen.price.amount} ${xen.price.currency}|"></span> <br>
            <div th:each="lxp: ${xen.lightXPoints}">
                <ul>
                    <li>
                        <span th:text="|XPoint UUID = ${lxp.xPointId.value}|"></span><br>
                        <span th:text="|Latitude = ${lxp.coordinates.latitude.degrees}|"></span><br>
                        <span th:text="|Longitude = ${lxp.coordinates.longitude.degrees}|"></span><br>
                    </li>
                </ul>
            </div>

        </li>
    </ul>
</div>

</body>
</html>