<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layouts/layout_main.html}">
<head>
    <title>Main</title>
</head>

<body>

    <th:block layout:fragment="HEADER_BOTTOM">
        <!--Lower Header-->
        <div class="row py-3 px-3 shadow-sm">
            <!--filters-->
            <!-- TODO: Filter dropdown items -->
            <div class="col-6 align-content-center">

                <button class="btn dropdown-toggle btn-outline-secondary py-1 me-2"  data-bs-toggle="dropdown" aria-expanded="false">
                    Language
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Menu item 1</a></li>
                    <li><a class="dropdown-item" href="#">Menu item 2</a></li>
                    <li><a class="dropdown-item" href="#">Menu item 3</a></li>
                </ul>

                <button class="btn dropdown-toggle btn-outline-secondary py-1 me-2"  data-bs-toggle="dropdown" aria-expanded="false">
                    Age Range
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Menu item 4</a></li>
                    <li><a class="dropdown-item" href="#">Menu item 5</a></li>
                    <li><a class="dropdown-item" href="#">Menu item 6</a></li>
                </ul>

                <button class="btn dropdown-toggle btn-outline-secondary py-1 me-2"  data-bs-toggle="dropdown" aria-expanded="false">
                    Topics
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Menu item 7</a></li>
                    <li><a class="dropdown-item" href="#">Menu item 8</a></li>
                    <li><a class="dropdown-item" href="#">Menu item 9</a></li>
                </ul>

                <button class="btn dropdown-toggle btn-outline-secondary py-1 me-2"  data-bs-toggle="dropdown" aria-expanded="false">
                    Accessibility
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Menu item 10</a></li>
                    <li><a class="dropdown-item" href="#">Menu item 11</a></li>
                    <li><a class="dropdown-item" href="#">Menu item 12</a></li>
                </ul>
            </div>
            <!--search-->
            <div class="col-3 ms-auto">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search Location" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </th:block>

    <th:block layout:fragment="MAIN_CONTAINER_LEFT">
        <div class="col-6 pt-3">
            <div class="tour-cards-list">
                <th:block th:each="tour:${tours}">
                    <div th:replace="~{fragments/fragments.html :: TOUR_CARD(xenagosID=${tour.xenagosId})}">

                    </div>
                </th:block>
            </div>
        </div>
    </th:block>

    <th:block layout:fragment="MAIN_CONTAINER_RIGHT" >
        <!-- Right Side / Map -->
        <div class="col-6 z-0">
            <iframe class="google-map sticky-top"
                    src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d10850.84757670908!2d23.72488576362117!3d37.9660634094878!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2seg!4v1722882312653!5m2!1sen!2seg"
                    width="830"
                    height="600"
                    style="border:0; top:165px;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </th:block>

</body>

</html>