<!DOCTYPE html>
<html
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout.html}">
<head>
    <title>Main</title>
</head>

<body>

    <section layout:fragment="loHeader">
        <article class="filtersCell">
            <select name="TourLanguage" id="tourLang">
                <option value="English">English</option>
                <option value="Spanish">Spanish</option>
                <option value="Greek">Greek</option>
                <option value="Russian">Russian</option>
            </select>
            <select name="Age" id="age">
                <option value="8-12">8-12</option>
                <option value="13-18">13-18</option>
                <option value="18-99">18-99</option>
            </select>
            <select name="Category" id="cat">
                <option value="Religion">Religion</option>
                <option value="Tecnology">Tecnology</option>
                <option value="Arquitecture">Arquitecture</option>
                <option value="Daily Life">Daily Life</option>
                <option value="War">War</option>
            </select>
            <select name="Special" id="special">
                <option value="None">None</option>
                <option value="Mobility">Mobility</option>
                <option value="Hear">Hear</option>
                <option value="Visual">Visual</option>
            </select>
        </article>
        <article class="viewModeCell">
            <button>Map</button>
            <button>Gallery</button>
        </article>
    </section>

    <section layout:fragment="leftMainContainer" class="TourCardsContainer">
        <ul class="TourCardsList">
            <li class="TourCard">
                <a class="TourCardLink" href="#">
                    <img class="TourCardImage" th:src="@{/img/egypt.jpg}" alt="">
                    <div class="TourCardDetails">
                        <div class="TourCardTitle">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit
                        </div>
                        <div class="TourCardDescription">
                            Quibusdam itaque, saepe molestiae enim nesciunt dolor excepturi ipsa
                            similique eaque aut ex sint asperiores
                            quia commodi, reprehenderit eum voluptatum veniam porro?
                        </div>
                        <div class="XenagosFace">
                            <figure>
                                <a href="#" >
                                    <img th:src="@{/img/xenagos1.jpg}" class="XenagosFaceImage" alt="">
                                </a>
                            </figure>
                        </div>
                        <div class="XenagosName">
                            Tour. Name
                        </div>
                        <div class="TourPrice">US$ 8</div>
                        <div class="TourMetaData">
                            <div class="TourMetaDataItem">
                                <span>23</span>
                                <img th:src="@{/img/XPointFlag.png}" class="XPointFlagImage" alt="">
                            </div>
                            <div class="TourMetaDataItem">
                                en
                            </div>
                            <div class="TourMetaDataItem">
                                <h3>&starf;</h3>4.8(100)
                            </div>
                            <div class="TourMetaDataItem">
                                Save &#128153;
                            </div>
                            <div class="TourMetaDataItem">
                                <img th:src="@{/img/hide.png}" class="hideImage" alt="">
                            </div>
                            <div class="TourMetaDataItem">
                                Share
                                <img th:src="@{/img/share.png}" class="shareIconImage" alt="">
                            </div>
                        </div>
                        <div class="TourCardAddToCartCell">
                            <img th:src="@{/img/AddToCart.png}" class="TourCardCartImage" alt="">
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </section>

    <section layout:fragment="rightMainContainer" class="ToursMapContainer">
        <div class="mapContainer">
            <iframe class="googleMap" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d10850.84757670908!2d23.72488576362117!3d37.9660634094878!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2seg!4v1722882312653!5m2!1sen!2seg" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <div layout:fragment="extraFooter">
        <br><br><br><br><br>
        <h1 class="text-4xl font-bold underline" th:text="${area}"> area code </h1>
        <br><br><br><br><br>
        <ul>
            <li th:each="tour : ${tours}">
                <span th:text="|Xenagos UUID = ${tour.xenagosId.value}|"></span><br>
                <span th:text="|Tour UUID = ${tour.tourId.value}|"></span><br>
                <span th:text="|Price = ${tour.price.amount} ${tour.price.currency}|"></span> <br>
                <div th:each="lxp: ${tour.lightTourPoints}">
                    <ul>
                        <li>
                            <span th:text="|TourPoint UUID = ${lxp.tourPointId.value}|"></span><br>
                            <span th:text="|Latitude = ${lxp.coordinates.latitude.degrees}|"></span><br>
                            <span th:text="|Longitude = ${lxp.coordinates.longitude.degrees}|"></span><br>
                        </li>
                    </ul>
                </div>

            </li>
        </ul>
        <br><br><br><br><br>

    </div>

</body>

</html>