<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout_admin}" th:with="childPageName='Languages'"
      lang="en">
<head>
    <title>Languages</title>
</head>

<body>

<th:block layout:fragment="ADMIN_DATA_SPACE">

    <!--Add New Button-->
    <div th:replace="~{fragments/admin/admin-page.html :: ADD_NEW_BTN}"></div>

    <!--Table-->
    <div class="col-10">
        <table class="table table-sm table-light table-striped table-bordered border-primary-subtle table-hover shadow">
            <thead>
            <tr class="text-center">
                <!--Column Headers -->
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">ISO 639-3 code </th>
                <th scope="col">English Name</th>
                <th scope="col">Native Name</th>
                <th scope="col">Active</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="language : ${listAllModel}">
                <!--## column-->
                <th scope="row"><span th:text="${listAllModel.indexOf(language)+1}"></span></th>
                <!--field ID-->
                <td class="text-nowrap"><span th:text="${language.id}"></span></td>
                <!--field 1-->
                <td><span th:text="${language.code}"></span></td>
                <!--field 2-->
                <td><span th:text="${language.englishName}"></span></td>
                <!--field 3-->
                <td><span th:text="${language.nativeName}"></span></td>
                <!--field active-->
                <td class="text-center">
                    <label >
                        <input class="form-check-input" type="checkbox" th:checked="${language.active}" disabled>
                    </label>
                </td>
                <!--Action buttons-->
                <td class="text-nowrap">
                    <!--Edit button-->
                    <button class="btn btn-warning ms-1 me-1 py-1"
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#edit_modal"
                            th:data-id="${language.id}"
                            th:data-field1="${language.code}"
                            th:data-field2="${language.englishName}"
                            th:data-field3="${language.nativeName}"
                            th:data-active="${language.active}">
                        Edit
                    </button>
                    <!--Delete button-->
                    <button class="btn btn-danger me-1 py-1 "
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#delete_modal"
                            th:data-id="${language.id}"
                            th:data-field1="${language.code}"
                            th:data-field2="${language.englishName}"
                            th:data-field3="${language.nativeName}"
                            th:data-active="${language.active}">
                        Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Add New Modal -->
    <div th:replace="~{fragments/admin/admin-page.html :: ADD_NEW_MODAL('Language','/fragments/admin/language-modal-form-add-new','/admin/languages')}"></div>

    <!-- Edit Modal -->
    <div th:replace="~{fragments/admin/admin-page.html :: EDIT_MODAL('Language','/fragments/admin/language-modal-form-edit','/admin/languages')}"></div>

    <!-- Delete Modal -->
    <div th:replace="~{fragments/admin/admin-page.html :: DELETE_MODAL('Language','/fragments/admin/language-modal-form-delete','/admin/languages')}"></div>

    <!--Script-->
    <script type="text/javascript" th:src="@{/js/adminLanguages.js}"></script>

</th:block>

</body>

</html>