<!--/*@thymesVar id="updateOneModel" type="xenagos.application.port.input.admin.model.AdminAgeGroupUpdateRequestDTO"*/-->
<form id="edit_form" th:object="${updateOneModel}">
    <!--field ID-->
    <div class="col-10">
        <div class="form-floating mb-3">
            <input class="form-control"
                   type="text"
                   id="edit_id"
                   name="id"
                   th:errorclass="is-invalid"
                   th:value="${updateOneModel.id}"
                   readonly>
            <label class="text-secondary" for="edit_id">Id</label>
        </div>
    </div>
    <!--field 1-->
    <div class="col-9">
        <div class="form-floating mb-3">
            <input class="form-control"
                   type="text"
                   id="edit_field1"
                   name="entityName"
                   maxlength="35"
                   th:errorclass="is-invalid"
                   th:value="${updateOneModel.entityName}">
            <label class="text-secondary" for="edit_field1">Age Group Name</label>
            <div class="form-text fst-italic ps-2">maximum 35 digits</div>
        </div>
    </div>
    <!--field 2-->
    <div class="col-4">
        <div class="form-floating mb-3">
            <input class="form-control"
                   type="number"
                   id="edit_field2"
                   name="minAge"
                   min="5"
                   max="100"
                   th:errorclass="is-invalid"
                   th:value="${updateOneModel.minAge}">
            <label class="text-secondary" for="edit_field2">Minimum age</label>
            <div class="form-text fst-italic ps-2">min 5, max 100</div>
        </div>
    </div>
    <!--field 3-->
    <div class="col-4">
        <div class="form-floating mb-3">
            <input class="form-control"
                   type="number"
                   id="edit_field3"
                   name="maxAge"
                   min="5"
                   max="100"
                   th:errorclass="is-invalid"
                   th:value="${updateOneModel.maxAge}">
            <label class="text-secondary" for="edit_field3">Maximum age</label>
            <div class="form-text fst-italic ps-2">min 5, max 100</div>
        </div>
    </div>
    <!--field active-->
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input"
                   type="checkbox"
                   id="edit_active"
                   name="active"
                   th:checked="${updateOneModel.active}">
            <label class="form-check-label" for="edit_active">Active</label>
        </div>
    </div>
</form>