<form>
    <!--field ID-->
    <div class="col-10">
        <div class="form-floating mb-3">
            <input class="form-control"
                   type="text"
                   id="delete_id"
                   name="id"
                   readonly/>
            <label class="text-secondary" for="delete_id">Id</label>
        </div>
    </div>
    <!--field 1-->
    <div class="col-9">
        <div class="form-floating mb-3">
            <input class="form-control"
                   type="text"
                   id="delete_field1"
                   name="groupName"
                   readonly>
            <label class="text-secondary" for="delete_field1">Age Group Name</label>
        </div>
    </div>
    <!--field 2-->
    <div class="col-4">
        <div class="form-floating mb-3">
            <input class="form-control"
                   type="number"
                   id="delete_field2"
                   name="minAge">
            <label class="text-secondary" for="delete_field2">Minimum age</label>
        </div>
    </div>
    <!--field 3-->
    <div class="col-4">
        <div class="form-floating mb-3">
            <input class="form-control"
                   type="number"
                   id="delete_field3"
                   name="maxAge">
            <label class="text-secondary" for="delete_field3">Maximum age</label>
        </div>
    </div>
    <!--field active-->
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input"
                   type="checkbox"
                   id="delete_active"
                   name="active"
                   disabled>
            <label class="form-check-label" for="delete_active">Active</label>
        </div>
    </div>
</form>