<form id="delete_topic_tag_form">
    <!--ID field-->
    <div class="col-10">
        <div class="form-floating mb-3">
            <input class="form-control"
                   id="delete_topic_tag_id"
                   name="id"
                   type="text"
                   readonly/>
            <label class="text-secondary" for="delete_topic_tag_id">Id</label>
        </div>
    </div>
    <!--1st field-->
    <div class="col-9">
        <div class="form-floating mb-3">
            <input class="form-control"
                   id="delete_topic_tag_name"
                   name="tagName"
                   type="text"
                   readonly>
            <label class="text-secondary" for="delete_topic_tag_name">Name</label>
        </div>
    </div>
    <!--2nd field-->
    <div class="col-12">
        <div class="form-floating mb-3">
        <textarea class="form-control"
                  id="delete_topic_tag_description"
                  name="description"
                  readonly
                  style="height: 150px"> </textarea>
            <label class="text-secondary" for="delete_topic_tag_description">Description</label>
        </div>
    </div>
    <!--3rd field-->
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input"
                   type="checkbox"
                   id="delete_topic_tag_active"
                   name="active"
                   disabled/>
            <label class="form-check-label" for="delete_topic_tag_active">Active</label>
        </div>
    </div>
</form>