<!--/*@thymesVar id="addOneNewModel" type="xenagos.application.port.input.admin.model.AdminMediaTypeNewRequestDTO"*/-->
<form id="add_new_form" th:object="${addOneNewModel}">
    <!--field 1-->
    <div class="col-9">
        <div class="form-floating mb-3">
            <input class="form-control"
                   type="text"
                   id="new_field1"
                   name="name"
                   maxlength="35"
                   th:errorclass="is-invalid"
                   th:value="${addOneNewModel.name}">
            <label class="text-secondary" for="new_field1">Name</label>
            <div class="form-text fst-italic ps-2">min 3, max 35 digits</div>
        </div>
    </div>
    <!--field active-->
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input"
                   type="checkbox"
                   id="new_active"
                   name="active"
                   th:checked="${addOneNewModel.active}">
            <label class="form-check-label" for="new_active">Active</label>
        </div>
    </div>
</form>