<!--/*@thymesVar id="updateOneModel" type="xenagos.application.port.input.admin.model.AdminTopicTagUpdateRequestDTO"*/-->
<form id="edit_form" th:object="${updateOneModel}">
    <!--field ID-->
    <div class="col-10">
        <div class="form-floating mb-3">
            <input class="form-control"
                   id="edit_id"
                   name="id"
                   type="text"
                   th:errorclass="is-invalid"
                   th:value="${updateOneModel.id}"
                   readonly>
            <label class="text-secondary" for="edit_id">Id</label>
        </div>
    </div>
    <!--field 1-->
    <div class="col-9">
        <div class="form-floating mb-3">
            <input class="form-control"
                   id="edit_field1"
                   name="entityName"
                   type="text"
                   maxlength="35"
                   th:errorclass="is-invalid"
                   th:value="${updateOneModel.entityName}">
            <label class="text-secondary" for="edit_field1">Name</label>
            <div class="form-text fst-italic ps-2">min 3, max 35 digits</div>
        </div>
    </div>
    <!--field 2-->
    <div class="col-12">
        <div class="form-floating mb-3">
            <textarea class="form-control"
                      id="edit_field2"
                      name="description"
                      maxlength="250"
                      style="height: 150px"
                      th:errorclass="is-invalid"
                      th:text="${updateOneModel.description}"></textarea>
            <label class="text-secondary" for="edit_field2">Description</label>
            <div class="form-text fst-italic ps-2">min 3, max 250 digits</div>
        </div>
    </div>
    <!--field active-->
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input"
                   type="checkbox"
                   id="edit_active"
                   name="active"
                   th:checked="${updateOneModel.active}">
            <label class="form-check-label" for="edit_active">Active</label>
        </div>
    </div>
</form>