.left-section {
    width: 20%;
    display:flex;
    flex-direction: column;
    gap:5px;
}
.left-section button{
    width:100%;
    font-size: 1rem;
    background-color: #aec9ff;
    padding: 5px 0;
}
.left-section button:hover{
    cursor: pointer;
    background-color: cadetblue;
}

.right-section{
    border: 1px solid red;
    width: 60%;
    padding-left: 25px;
}

