* {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --LIGHT_GRAY_COLOR: hsla(0, 0%, 60%, 0.2);
}

body {
  margin: 0px 15px;
}


/* HEADER CONTAINER */
header {
  position: sticky;
  top: 0;
  display: block;
  background-color: white;
  z-index: 10;
}


/* UPPER HEADER */
.header-up {
  height: 85px;
  display: grid;
  grid-template-columns: 380px auto 100px 100px;
  align-items: center;
  border-bottom: 1px solid var(--LIGHT_GRAY_COLOR);
  padding: 0 20px;
}

.header-up__logo-cell{
  grid-area: 1/1/1/2;
}
.logo-img{
  width: 360px;
  height: 80px;
}

.header-up__i18n-cell{
  grid-area: 1/3/1/4;
  display:grid;
  grid-template-columns: auto auto;
  justify-content:center;
}
.i18n-img {
  width: 18px;
  height: 18px;
  margin-right:5px;
}

.header-up__login-cell{
  grid-area: 1/4/1/5;
  text-align: center;
}
.user-login-btn{
  border: none;
  text-decoration: none;
  padding: 0;
  height: 50px;
  width: 50px;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 0 20px 2px hsl(0, 0%, 90%);
  border-radius: 50%;
}
.user-login-img{
  width: 50px;
  height: 50px;
}


/* LOWER HEADER */
.header-lo{
  height: 60px;
  display: grid;
  grid-template-columns: 500px auto 150px;
  align-items: center;
  box-shadow: 0 4px 8px var(--LIGHT_GRAY_COLOR);
  padding: 0 20px;
}


/* MAIN CONTAINER */
.main-container {
  display: grid;
  grid-template-columns: 45% auto;
  margin-top: 10px;
}


/* FOOTER */
footer {
  margin-top: 80px;
  background-color:hsl(193, 75%, 65%);
}
.footer-container{
    display:flex;
    justify-self: center;
    gap:50px;
}
.footer-list{
    list-style-type: none;
}